
*.log
*.pyc
*.pyo
__pycache__/
checkpoints/
data/
train_data/
*.so
*.o
.idea/
labels/
results/*
*.zip
*.tar.gz
*.gz
*.pkl
*.result
*octave*
*.txt
*.swp
venv/*
tmp/*

env0_4/*
env1.0/*
*.jpg
*.avi
/envtorch0_4/
/Pipfile
.vscode/*
wandb/*